---
layout: page
title: Leica DISTO&trade; Products
permalink: products/
---

<!-- We are in .content-/-main -->

<header class="content--header">
	<h1 class="content--title">{{ page.title }}</h1>
</header>

<div class="product grid grid--rightrail">
	<div class="grid--column grid--column--main">
		
		<div class="product--grid grid grid__trio">
			<p class="product--description">Leica invented the Laser Distance Measurer (LDM) in 1993 and we&rsquo;ve been refining it ever since. Built to withstand rough conditions, these LDM&rsquo;s come equipped with unique features to fit what you need on your job site. From the intelligent endpiece to Bluetooth technology, find the DISTO that&rsquo;s right for you. </p>
			
			<div class="product--collection">
				
				{% include partials/product-4cards.html %}

				{% include partials/product-4cards.html %}
				
			</div>
		</div>
	</div>
	<aside class="grid--column grid--column--rail" role="menubar">
		<div class="apps--sidebar">
			<div class="widget widget__apps">
				<h3 class="widget--title">Products</h3>
				<ul class="widget--list apps--sidebar--list menu" role="menu">
					<li role="menuitem"><a href="{{ '/products' | prepend: site.baseurl }}" class="widget--link">Leica DISTO&trade;</a></li>
					<li role="menuitem"><a href="{{ '/products' | prepend: site.baseurl }}" class="widget--link">Leica 3D DISTO&trade;</a></li>
					<li role="menuitem"><a href="{{ '/products' | prepend: site.baseurl }}" class="widget--link">Leica LINO</a></li>
					<li role="menuitem"><a href="{{ '/products' | prepend: site.baseurl }}" class="widget--link">Leica Pro Pack</a></li>
				</ul>
			</div>
			<div class="widget widget__apps">
				<h3 class="widget--title">Accessories</h3>
				<ul class="widget--list apps--sidebar--list menu" role="menu">
					<li role="menuitem"><a href="{{ '/products' | prepend: site.baseurl }}" class="widget--link">Leica DISTO&trade;</a></li>
					<li role="menuitem"><a href="{{ '/products' | prepend: site.baseurl }}" class="widget--link">Leica 3D DISTO&trade;</a></li>
					<li role="menuitem"><a href="{{ '/products' | prepend: site.baseurl }}" class="widget--link">Leica LINO</a></li>
					<li role="menuitem"><a href="{{ '/products' | prepend: site.baseurl }}" class="widget--link">Replacement Parts</a></li>
				</ul>
			</div>
			<div class="widget widget__signup signup snipe--container">
				<div class="snipe snipe__dark snipe__topleft"></div>
				<h3 class="widget--title signup--title">Join our Email List</h3>
				<p>Weekly specials, subscriber deals and discounts</p>
				<form class="form signup--form">
					<label for="su-first">First name</label><input id="su-first" type="text" class="form--input form--input__first" placeholder="First name"><label for="su-last">Last name</label><input id="su-last" type="text" class="form--input form--input__last" placeholder="Last name">
					<div class="form--singleline">
						<button class="button button--primary">Sign Up</button>
						<span class="form--overflow"><label for="su-email">Email</label><input id="su-email" type="email" class="form--input" placeholder="you@example.com"></span>
					</div>
				</form>
			</div>
		</div>
	</aside>
</div>
