	<footer class="mainfoot">
		<div class="container">
			<p class="mainfoot--list">
				<span class="mainfoot--link">All pages: </span> 
				<a href="{{ '/compare' | prepend: site.baseurl }}" class="mainfoot--link">Compare</a> 
				<a href="{{ '/apps' | prepend: site.baseurl }}" class="mainfoot--link">Apps</a> 
				<a href="{{ '/videos' | prepend: site.baseurl }}" class="mainfoot--link">Videos</a> 
			</p>
			<p class="mainfoot--copyright">&copy;{{ 'now' | date: '%Y' }} Oomph, Inc.</p>
		</div>
	</footer>
	<div id="body-overlay"></div>

	<div id="size"></div>

	<script src="//code.jquery.com/jquery-1.12.2.min.js"></script>
    <script src="{{ site.baseurl}}/assets/js/plugins.js"></script>
    <script src="{{ site.baseurl}}/assets/js/main.js"></script>