<div id="top"></div>

<div class="skip-link screen-reader-text">
	<a href="#main" title="Skip to content">Skip to content</a>
</div>

<div id="searchform" class="mainsearch mainnav--search">
	<div class="container">
		<form class="form form--global-search mainnav--searchform">
			<div class="form--position-wrap">
				<input type="search" class="form--input" placeholder="Search the site&hellip;">
				<button class="form--position--element"><span class="fa fa-search" aria-hidden="true"><span>Search</span></span></button>
			</div>
		</form>
	</div>
</div>
<div class="mainnav">
	<div class="container">
		<nav class="mainnav--wrapper">
			
			{% include partials/menu-mobile.html %}
			
			<div class="mainnav--brand">
				<a href="{{ "/" | prepend: site.baseurl }}" title="Back Home"><img src="{{ "/files/Leica-Geosystems.png" | prepend: site.baseurl }}" alt="Leica Geosystems"></a>
			</div>
			<div class="mainnav--user-options">
				<ul class="mainnav--list">
					<li>
						<a href="#langauge" class="mainnav--link with-dropdown">Country <span class="fa fa-caret-down" aria-hidden="true"><span>v</span></span></a>
						<ul id="langauge" class="mainnav--list mainnav--subnav">
{% include partials/language-list.html %}
						</ul>
					</li>
					<li><a href="#" class="mainnav--link">Support</a></li>
					<li><a href="#" class="mainnav--link">Contact</a></li>
					<li><a href="#" class="mainnav--link">Blog</a></li>
					<li>
						<a href="#signin" class="mainnav--link with-dropdown">Sign In <span class="fa fa-caret-down" aria-hidden="true"><span>v</span></span></a>
						
						<ul id="signin" class="mainnav--list mainnav--subnav">
							<li><a href="#" class="overlay--link">Sign In Form</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="mainnav--search-n-cart">
				<div class="mainnav--search-button">
					<a href="#searchform" class="mainnav--button js-search-trigger">
						<span class="fa fa-search" aria-hidden="true"><span>Search</span></span>
					</a>
				</div>
				<div class="mainnav--cart--button">
					<a href="{{ '/checkout/cart' | prepend: site.baseurl }}" id="shop-cart"  class="mainnav--button mainnav--button__cart">
						<span class="fa fa-shopping-cart" aria-hidden="true"><span>Cart</span></span>
						<span class="mainnav--cart--items">3</span>
					</a>
				</div>
			</div>
		</nav>
	</div>
</div>
	
{% include navigation.html %}