<!-- Tablet and larger -->
<nav id="stickynav" class="stickynav js-sticky">
	<div id="stickysearch" class="mainsearch js-accordion-wrap">
		<div class="container">
			<form class="form form--global-search">
				<div class="form--position-wrap">
					<input type="search" class="form--input" placeholder="Search the site&hellip;">
					<button class="form--position--element"><span class="fa fa-search" aria-hidden="true"><span>Search</span></span></button>
				</div>
			</form>
		</div>
	</div>
	<div class="stickynav--brand">
		<a href="{{ '/' | prepend: site.baseurl }}" class="stickynav--brand--logo"title="Back Home"><img src="{{ "/files/Leica-Geosystems.png" | prepend: site.baseurl }}" alt="Leica Geosystems"></a>
		<a href="." class="stickynav--product-line">Lasers</a>
	</div>
	<ul class="stickynav--list">
		<li>
			<a href="{{ '/product-category' | prepend: site.baseurl }}" class="stickynav--mainlink">Disto</a>
		</li>
		<li>
			<a href="{{ '/product-category' | prepend: site.baseurl }}" class="stickynav--mainlink">3D Disto</a>
		</li>
		<li>
			<a href="{{ '/product-category' | prepend: site.baseurl }}" class="stickynav--mainlink">Lino</a>
		</li>
	</ul>
	<div class="stickynav--search-n-cart">
		<div class="stickynav--search">
			<a href="#stickysearch" class="mainnav--button js-accordion"><span class="fa fa-search" aria-hidden="true"><span>Search</span></span></a>
		</div>
		<div class="stickynav--cart">
			<a href="#" id="shop-cart"  class="mainnav--button mainnav--button__cart">
				<span class="fa fa-shopping-cart" aria-hidden="true"><span>Cart</span></span>
				<span class="mainnav--cart--items">2</span>
			</a>
		</div>
	</div>
</nav>