  <div id="block-commerce-checkout-progress-indication" class="block block-commerce-checkout-progress cart--header">
    <div class="content">
      <div class="item-list">
        <ol class="commerce-checkout-progress clearfix inline checkout-pages-5">
          <li class="cart first"><a href="{{ '/checkout/cart' | prepend: site.baseurl }}">Cart</a></li>
          <li class="checkout"><a href="{{ '/checkout/checkout' | prepend: site.baseurl }}">Checkout</a></li>
          <li class="payment_info"><a href="{{ '/checkout/payment' | prepend: site.baseurl }}">Payment</a></li>
          <li class="review"><a href="{{ '/checkout/review' | prepend: site.baseurl }}">Review</a></li>
          <li class="complete last"><a href="{{ '/checkout/complete' | prepend: site.baseurl }}">Complete</a></li>
        </ol>
      </div>
    </div>
  </div>