								<li><a href="{{ '/compare' | prepend: site.baseurl }}" class="overlay--link">Compare</a></li>
								<li><a href="{{ '/apps' | prepend: site.baseurl }}" class="overlay--link">Apps</a></li>
								<li><a href="{{ '/videos' | prepend: site.baseurl }}" class="overlay--link">Videos</a></li>
								<li><a href="#" class="overlay--link">Pro Packs</a></li>
								<li><a href="{{ '/products' | prepend: site.baseurl }}" class="overlay--link">Full Line</a></li>
								<li><a href="#" class="overlay--link">Accessories</a></li>
								<li><a href="#" class="overlay--link">Parts</a></li>
								
