								<li class="overlay--card overlay--card__main">
									<div class="overlay--card--title">
										<h4>DISTO Selector</h4>
									</div>
									<div class="overlay--card--img">
										<img src="{{ '/files/guy-holding.png' | prepend: site.baseurl }}" alt="">
									</div>
									<div class="overlay--card--price">
										<p>Choose the right DISTO <a href="{{ '/compare' | prepend: site.baseurl }}" class="button button--primary">Let's Begin</a></p>
									</div>
								</li>
								<li class="overlay--card overlay--card__main">
									<div class="overlay--card--title">
										<h4>Head to Head Comparison</h4>
									</div>
									<div class="overlay--card--img">
										<img src="{{ '/files/products.jpeg' | prepend: site.baseurl }}" alt="">
									</div>
									<div class="overlay--card--price">
										<p><a href="{{ '/compare' | prepend: site.baseurl }}" class="button button--primary">Explore Now</a></p>
									</div>
								</li>
								<li class="overlay--card">
									<div class="overlay--card--title">
										<h4>Product name</h4>
									</div>
									<div class="overlay--card--img">
										<img src="{{ '/files/product-suite.jpeg' | prepend: site.baseurl }}" alt="">
									</div>
									<div class="overlay--card--price">
										<p>Product price</p>
									</div>
								</li>
								<li class="overlay--card">
									<div class="overlay--card--title">
										<h4>Product name</h4>
									</div>
									<div class="overlay--card--img">
										<img src="http://lasers.leica-geosystems.com/sites/default/files/styles/large_square/public/product_images/d810-touch-promo.jpg?itok=Zug6l8Kt" alt="">
									</div>
									<div class="overlay--card--price">
										<p>Product price</p>
									</div>
								</li>
								<li class="overlay--card">
									<div class="overlay--card--title">
										<h4>Product name</h4>
									</div>
									<div class="overlay--card--img">
										<img src="http://lasers.leica-geosystems.com/sites/default/files/styles/large_square/public/product_images/e7500i_promo.jpg?itok=EZnDVXTP" alt="">
									</div>
									<div class="overlay--card--price">
										<p>Product price</p>
									</div>
								</li>
								<li class="overlay--card">
									<div class="overlay--card--title">
										<h4>Product name</h4>
									</div>
									<div class="overlay--card--img">
										<img src="{{ '/files/product-suite.jpeg' | prepend: site.baseurl }}" alt="">
									</div>
									<div class="overlay--card--price">
										<p>Product price</p>
									</div>
								</li>
								<li class="overlay--card">
									<div class="overlay--card--title">
										<h4>Product name</h4>
									</div>
									<div class="overlay--card--img">
										<img src="http://lasers.leica-geosystems.com/sites/default/files/styles/large_square/public/product_images/e7500i_promo.jpg?itok=EZnDVXTP" alt="">
									</div>
									<div class="overlay--card--price">
										<p>Product price</p>
									</div>
								</li>
								<li class="overlay--card">
									<div class="overlay--card--title">
										<h4>Product name</h4>
									</div>
									<div class="overlay--card--img">
										<img src="{{ '/files/product-suite.jpeg' | prepend: site.baseurl }}" alt="">
									</div>
									<div class="overlay--card--price">
										<p>Product price</p>
									</div>
								</li>