				<div class="product--card grid--item">
					<a href="{{ '/product-single' | prepend: site.baseurl }}" class="product--card--link">
						<div class="product--card--image snipe--container">
							<div class="snipe snipe__topleft">
								<div class="snipe--sub">On orders of $149 and up</div>
								<div class="snipe--main">Free Shipping</div>
							</div>
							<img src="https://lasers.leica-geosystems.com/sites/default/files/styles/large/public/leica_media/product_images/disto/prod_img_disto_d810/leica-disto-d810-touch-main-laser-measure-799097.jpg?itok=aK88S3Sb" alt="Square aspect ratio">
						</div>
						<div class="product--card--meta">
							<h3 class="product--card--title">D510</h3>
							<p class="product--card--price">$599.00 USD</p>
							<div class="product--card--label">View Details</div>
						</div>
					</a>
					<button class="product--card--action button button--primary js-hover" data-action="Would add this item directly to the cart and show the checkout experience">Buy Now</button>
				</div>
				<div class="product--card grid--item">
					<a href="{{ '/product-single' | prepend: site.baseurl }}" class="product--card--link">
						<div class="product--card--image snipe--container">
							<div class="snipe snipe__topleft">
								<div class="snipe--sub">On orders of $149 and up</div>
								<div class="snipe--main">Free Shipping</div>
							</div>
							<img src="https://lasers.leica-geosystems.com/sites/default/files/styles/large/public/leica_media/product_images/disto/prod_img_disto_d810/leica-disto-d810-touch-main-laser-measure-799097.jpg?itok=aK88S3Sb" alt="Square aspect ratio">
						</div>
						<div class="product--card--meta">
							<h3 class="product--card--title">X310</h3>
							<p class="product--card--price">$279.00 USD</p>
							<div class="product--card--label">View Details</div>
						</div>
					</a>
					<button class="product--card--action button button--primary js-hover" data-action="Would add this item directly to the cart and show the checkout experience">Buy Now</button>
				</div>
				<div class="product--card grid--item">
					<a href="{{ '/product-single' | prepend: site.baseurl }}" class="product--card--link">
						<div class="product--card--image snipe--container">
							<img src="https://lasers.leica-geosystems.com/sites/default/files/styles/large/public/leica_media/product_images/disto/prod_img_disto_d810/leica-disto-d810-touch-main-laser-measure-799097.jpg?itok=aK88S3Sb" alt="Square aspect ratio">
						</div>
						<div class="product--card--meta">
							<h3 class="product--card--title">D210</h3>
							<p class="product--card--price">$199.00 USD</p>
							<div class="product--card--label">View Details</div>
						</div>
					</a>
					<button class="product--card--action button button--primary js-hover" data-action="Would add this item directly to the cart and show the checkout experience">Buy Now</button>
				</div>
				<div class="product--card grid--item">
					<a href="{{ '/product-single' | prepend: site.baseurl }}" class="product--card--link">
						<div class="product--card--image snipe--container">
							<div class="snipe snipe__topleft">
								<div class="snipe--sub">On orders of $149 and up</div>
								<div class="snipe--main">Free Shipping</div>
							</div>
							<img src="https://lasers.leica-geosystems.com/sites/default/files/styles/large/public/leica_media/product_images/disto/prod_img_disto_d810/leica-disto-d810-touch-main-laser-measure-799097.jpg?itok=aK88S3Sb" alt="Square aspect ratio">
						</div>
						<div class="product--card--meta">
							<h3 class="product--card--title">Name</h3>
							<p class="product--card--price">$Price USD</p>
							<div class="product--card--label">View Details</div>
						</div>
					</a>
					<button class="product--card--action button button--primary js-hover" data-action="Would add this item directly to the cart and show the checkout experience">Buy Now</button>
				</div>
