				<div class="product--card grid--item">
					<a href="{{ '/product-single' | prepend: site.baseurl }}" class="product--card--link">
						<div class="product--card--image snipe--container">
							<div class="snipe snipe__topleft">
								<div class="snipe--sub">On orders of $149 and up</div>
								<div class="snipe--main">Free Shipping</div>
							</div>
							<img src="http://lasers.leica-geosystems.com/sites/default/files/styles/large_square/public/product_images/d510_front_reflection_var2-500x545.jpg?itok=W7s2pZ3C" alt="Square aspect ratio">
						</div>
						<div class="product--card--meta">
							<h3 class="product--card--title">D510</h3>
							<p class="product--card--price">$599.00 USD</p>
							<div class="product--card--label">View Details</div>
						</div>
					</a>
					<button class="product--card--action button button--primary js-hover" data-action="Would add this item directly to the cart and show the checkout experience">Buy Now</button>
				</div>
				<div class="product--card grid--item">
					<a href="{{ '/product-single' | prepend: site.baseurl }}" class="product--card--link">
						<div class="product--card--image snipe--container">
							<div class="snipe snipe__topleft">
								<div class="snipe--sub">On orders of $149 and up</div>
								<div class="snipe--main">Free Shipping</div>
							</div>
							<img src="http://lasers.leica-geosystems.com/sites/default/files/styles/large_square/public/product_images/d410_scope_of_delievery-500x491.jpg?itok=FjCdDINw" alt="Square aspect ratio">
						</div>
						<div class="product--card--meta">
							<h3 class="product--card--title">X310</h3>
							<p class="product--card--price">$279.00 USD</p>
							<div class="product--card--label">View Details</div>
						</div>
					</a>
					<button class="product--card--action button button--primary js-hover" data-action="Would add this item directly to the cart and show the checkout experience">Buy Now</button>
				</div>
				<div class="product--card grid--item">
					<a href="{{ '/product-single' | prepend: site.baseurl }}" class="product--card--link">
						<div class="product--card--image snipe--container">
							<img src="http://lasers.leica-geosystems.com/sites/default/files/styles/large_square/public/product_images/d210_scope_of_delivery-583x500.jpg?itok=nube_r8Z" alt="Square aspect ratio">
						</div>
						<div class="product--card--meta">
							<h3 class="product--card--title">D210</h3>
							<p class="product--card--price">$199.00 USD</p>
							<div class="product--card--label">View Details</div>
						</div>
					</a>
					<button class="product--card--action button button--primary js-hover" data-action="Would add this item directly to the cart and show the checkout experience">Buy Now</button>
				</div>
				<div class="product--card grid--item">
					<a href="{{ '/product-single' | prepend: site.baseurl }}" class="product--card--link">
						<div class="product--card--image snipe--container">
							<div class="snipe snipe__topleft">
								<div class="snipe--sub">On orders of $149 and up</div>
								<div class="snipe--main">Free Shipping</div>
							</div>
							<img src="http://placehold.it/460x460" alt="Square aspect ratio">
						</div>
						<div class="product--card--meta">
							<h3 class="product--card--title">Name</h3>
							<p class="product--card--price">$Price USD</p>
							<div class="product--card--label">View Details</div>
						</div>
					</a>
					<button class="product--card--action button button--primary js-hover" data-action="Would add this item directly to the cart and show the checkout experience">Buy Now</button>
				</div>
