<div class="trust-security">
  <div class="trust-security--kibo">
    <p>eCommerce logistics provided by <a href="//lasers.leica-geosystems.com/ecommerce-policies#kibo">Kibo</a>.</p>
    <p><strong>Need order help?</strong> Call toll-free <a href="tel:8553287773">(8755) 328-7773</a></p>
    <p><strong>Please Note:</strong> For your security, phone orders are not accepted. All orders must be placed online.</p>
  </div>
  <ul class="trust-security--logos">
    <li><img src="{{ '/files/gt-secured-seal.gif' | prepend: site.baseurl }}" alt="GeoTrust Seal - Sign up for a real one at https://www.geotrust.com/ssl/ssl-site-seals/"></li>
    <li><img src="{{ '/files/mcafee.png' | prepend: site.baseurl }}" alt="McAfee Secure"></li>
  </ul>
</div>