---
layout: page
title: Complete
permalink: checkout/complete/
bodyclass: 'page-cart'
active: complete
---

<!-- We are in .content-/-main -->

<header class="content--header">
	<h1 class="content--title">{{ page.title }}</h1>
</header>

<div class="region region--content">

  {% include partials/checkout-progress.html %}

  <div id="block-system-main" class="block block-system">
    <div class="content">
      
      <div class="grid grid--rightrail">
    		<div class="grid--column grid--column--main">
      
          
          <!-- Start paste from existing cart -->
          <header class="typography">
            <h2 class="checkout--thanks--title">Thank you!</h2>
          </header>
          <div class="checkout--thanks">
            <p>Your order number is <a href="#">US-2016-XXX</a>.</p>
            <p>You will be receiving a confirmation email shortly. Please check your spam folder if you do not see one within 30 minutes.</p>
          </div>
          
          
          <!-- end #commerce-checkout-form-review -->


        </div>
        <aside class="grid--column grid--column--rail">
          <div class="checkout--create-account">
            <h3>Create an Account</h3>
            <p>You&rsquo;ve already created an account, just choose a password! Keep contact information up to date and manage your history. </p>
            <div class="form-item">
              <label class="option">Create Password</label>
              <input type="password">
            </div>
            <div class="form-item">
              <label class="option">Confirm Password</label>
              <input type="password">
            </div>
            <div class="form-actions">
              <a href="#" class="button button--primary">Log In</a>
            </div>
          </div>
        </aside>
      </div><!-- end grid--rightrail -->
      
      {% include partials/trust-logos.html %}
      
    </div>
  </div><!-- end .block.block-system -->

</div><!-- end .region--content -->
