---
layout: page
title: Review your Order
permalink: checkout/review/
bodyclass: 'page-cart review-checkout'
active: review
---

<!-- We are in .content-/-main -->

<header class="content--header">
	<h1 class="content--title">{{ page.title }}</h1>
</header>

<div class="region region--content">

  {% include partials/checkout-progress.html %}

  <div id="block-system-main" class="block block-system">


    <!-- Moved the ID up to here to get both columns to work -->
    <div id="commerce-checkout-form-review" class="content">
      
      <div class="grid grid--rightrail">
    		<div class="grid--column grid--column--main">
      
          
          <div class="checkout_review form-wrapper" id="edit-checkout-review">
            <table class="checkout-review">
              <tbody>
                <tr class="pane-title odd odd"><td colspan="2">Account information</td> </tr>
                <tr class="pane-data even even"><td colspan="2" class="pane-data-full"><div class="form-item form-type-item"><label>E-mail address </label>jhogue@oomphinc.com</div></td></tr>
              </tbody>
            </table>
            <div class="grid grid__duo">
              <div class="grid--item">
                <table class="checkout-review">
                  <tbody>
                    <tr class="pane-title odd odd"><td colspan="2">Shipping information <a href="#">Edit</a></td> </tr>
                    <tr class="pane-data even even"><td colspan="2" class="pane-data-full"><div class="field field-name-commerce-customer-address field-type-addressfield field-label-hidden"><div class="field-items"><div class="field-item even"><div class="addressfield-container-inline name-block"><div class="name-block">J. Hogue</div></div><div class="street-block"><div class="thoroughfare">72 Clifford Street</div></div><div class="addressfield-container-inline locality-block country-US"><span class="locality">Providence</span>, <span class="state">RI</span> <span class="postal-code">02906</span></div><span class="country">United States</span></div></div></div><div class="field field-name-commerce-firstdata-billing-phone field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">4018311963</div></div></div></td></tr>
                  </tbody>
                </table>
              </div>
              <div class="grid--item">
                <table class="checkout-review">
                  <tbody>
                    <tr class="pane-title odd odd"><td colspan="2">Billing information <a href="#">Edit</a></td> </tr>
                    <tr class="pane-data even even"><td colspan="2" class="pane-data-full"><div class="field field-name-commerce-customer-address field-type-addressfield field-label-hidden"><div class="field-items"><div class="field-item even"><div class="addressfield-container-inline name-block"><div class="name-block">J. Hogue</div></div><div class="street-block"><div class="thoroughfare">72 Clifford Street</div></div><div class="addressfield-container-inline locality-block country-US"><span class="locality">Providence</span>, <span class="state">RI</span> <span class="postal-code">02906</span></div><span class="country">United States</span></div></div></div><div class="field field-name-commerce-firstdata-billing-phone field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">4018311963</div></div></div></td> </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <table class="checkout-review">
              <tbody>
                <tr class="pane-title odd odd"><td colspan="2">Payment information</td> </tr>
                <tr class="pane-data even even"><td colspan="2" class="pane-data-full"><div class="form-item form-type-item"><label>Visa </label>XXXX-XXXX-XXXX-1234</div></td></tr>
              </tbody>
            </table>
          </div>

          <div class="checkout--actions checkout--actions__secondary">
            <span class="checkout--next-steps">Payment will now be made</span>
            <a href="{{ '/checkout/complete' | prepend: site.baseurl }}" class="button button--primary"><span class="fa fa-lock" aria-hidden="true"></span>Place Order</a>
          </div>

        </div>
        <aside class="grid--column grid--column--rail">
          <div class="checkout--list">
            
            <div class="checkout--actions checkout--actions__primary">
              <span class="checkout--next-steps">Payment will now be made</span>
              <a href="{{ '/checkout/complete' | prepend: site.baseurl }}" class="button button--primary"><span class="fa fa-lock" aria-hidden="true"></span>Place Order</a>
            </div>
            
            <div class="checkout--mini-cart">
              <h4>Your Cart</h4>
              <table class="views-table cols-6">
                <tbody>
                  <tr class="odd views-row-first views-row-last">
                    <td class="views-field views-field-line-item-title">
                      <div class="product-name">Disto S910</div>
                    </td>
                    <td class="views-field views-field-commerce-total price">$1,499.00</td>
                  </tr>
                  <tr class="even views-row-last">
                    <td class="views-field views-field-line-item-title">TA360 Disto 360 tripod adapter</td>
                    <td class="views-field views-field-commerce-total price">$149.00</td>
                  </tr>
                  <tr class="odd views-row-last">
                    <td class="views-field views-field-line-item-title">Laser Glasses GLB30</td>
                    <td class="views-field views-field-commerce-total price">$35.00</td>
                  </tr>
                  <tr class="even views-row-last">
                    <td class="views-field-subtotal-label">Sub-total:</td>
                    <td class="views-field-subtotal">$1,683.00</td>
                  </tr>
                  <tr class="odd views-row-last">
                    <td class="views-field-shipping-label">Shipping:</td>
                    <td class="views-field-shipping">Free</td>
                  </tr>
                  <tr class="even views-row-last">
                    <td class="views-field-total-label">Order Total:</td>
                    <td class="views-field-total">$1,683.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          
          </div>
        </aside>
      </div><!-- end grid--rightrail -->
      
      {% include partials/trust-logos.html %}
      
    </div>
  </div><!-- end .block.block-system -->

</div><!-- end .region--content -->
