.page { overflow: hidden; }

.content {
	background-color: palette(mono, white);
	clear: both;
	padding: $vert-line-height 0;

	&--title {
		@extend .mega;
		color: palette(brand);
		margin-bottom: .75em;
	}
	
	.center-text { text-align: center; }
}

.header {
	position: relative;

	&--action {

		@include media($small-up) {
			position: absolute;
				top: 0; right: 0;
		}	
	}
}


// Responsive table styles
.table {

	&--compare {
		font-size: em(14);

		.fa { font-size: em(16, 14); }

		.fa-check-circle { color: palette(brand, green); }

		@include media($small-up) {
			font-size: 1em;
		}
	}
}


// Truncate content for mobile
/*<article class="readmore readmore__product-specs">
	[ ... ]

	<div class="readmore--action"><button class="button button--secondary js-readmore">Read More</button></div>
</article>*/
.readmore {
	@include transition( all 750ms ease );
	display: inherit;
	overflow: hidden;
	position: relative;
	max-height: em(360);

	&--action {
		@include show();
		@include transition( opacity 250ms ease );
		overflow: visible;
		padding: 1em 0;
		position: absolute;
			right: 0; bottom: 0; left: 0;
		text-align: center;
		z-index: 0;

		button {

			@include touch-hover() { box-shadow: 0 2px 3px rgba(#000,.25); }
		}

		&:before {
			@include background-image(linear-gradient(top, rgba(#fff,0) 0%, rgba(#fff,1) 99%));
			content: '';
			min-height: em(160);
			position: absolute;
				right: 0; bottom: 0; left: 0;
			z-index: -1;
		}
	}

	// I like this max-height method, but there are some tricks to remember:
	// 1. The max-height reset needs to be super tall, just in case
	// 	  1a. Unless a browser supports a cool property like 'fit-content', 'max-content' or 'unset'
	//		  https://developer.mozilla.org/en-US/docs/Web/CSS/max-height
	// 2. Which means that the animation will be calculated to that max-height, whether or not the layout ever needs it
	// 3. Therefore, we set the transition timing higher than we normally would
	&__expanded { max-height: em(3200); }

	&__expanded &--action {
		opacity: 0;
		right: auto; left: -99em;
	}

	// Custom colors when the bg is not white
	&__featfunct &--action:before { @include background-image(linear-gradient(top, rgba(darken(palette(mono, 10), 4%), 0) 0%, rgba(darken(palette(mono, 10), 4%), 1) 99%)); }

	@supports (max-height: fit-content) {
		.readmore { @include transition( all 250ms ease ); }
		.readmore__expanded { max-height: fit-content; }
	}

	@supports (max-height: unset) {
		.readmore { @include transition( all 250ms ease ); }
		.readmore__expanded { max-height: unset; }
	}

	// Hide for anything but a small screen
	@include media($xsmall-up) {
		max-height: em(3200);

		@supports (max-height: fit-content) {
			.readmore {
				@include transition( all 250ms ease );
				max-height: fit-content;
			}
		}

		@supports (max-height: unset) {
			.readmore {
				@include transition( all 250ms ease );
				max-height: unset;
			}
		}

		&--action { @include hide; }
	}
	
	// Show when the persistant class is present
	&__persistant &:not(.readmore__expanded) { max-height: em(360); }

	&__persistant &__compare-table:not(.readmore__expanded) { max-height: em(300); }

	&__persistant &__compare-table &--action {
		z-index: 10;

		&:before { min-height: 6em; }
	}

	&__persistant &--action { @include show(); }
}


/*<div class="breadcrumb">
	<a href="." class="breadcrumb--link">Home</a>
	<span class="breadcrumb--sep">|</span>
	<a href="{{ '/videos' | prepend: site.baseurl }}" class="breadcrumb--link">Videos</a>
	<span class="breadcrumb--sep">|</span>
	<span class="breadcrumb--current">Video Category</span>
</div>*/
.breadcrumb {
	padding-bottom: $vert-line-height;

	& > span,
	& > a { display: inline-block; }

	&--link {}

	&--sep { margin: 0 .5em; }

	&--current {}
}


/* Force videos to be part of the flow instead of on top for IE8 with '?wmode=transparent' appended to the URL if possible
<div class="embed-container ">
	<iframe width="560" height="315" src="//www.youtube.com/embed/TdwT5JlH8gM?wmode=transparent" frameborder="0" allowfullscreen></iframe>
</div>*/
.js .embed-container {
	@include proportional-container( 16 9 );


	iframe,
	object,
	embed,
	& > div {
		position: absolute;
			top: 0; left: 0;
		z-index: 1;
		width: 100% !important;
		height: 100% !important;
	}
}

.js .product--overview .embed-container {
	border: 1px solid palette(mono, 25);
}

.no-js .embed-container {
	padding: 1em;
	background-color: palette(mono, 66);
	text-align: center;

	&:before {
		@extend .charlie;
		content: 'Sorry, embedded video players need javascript.';
		width: 100%;
		color: palette(mono, 10);
	}

	iframe,
	object,
	embed,
	& > div { @include hide(); }
}