.mainnav {
	background-color: $body-bg-color;
	border-bottom: 1px solid $color-borders;
	clear: both;
	position: relative;
	z-index: map-get($zindex, mainnav);

	.container {
		max-width: none;
		padding: 0;
	}

	&--search {

		.js & { display: none; }
	}

	&--wrapper {
		width: 100%;
		@include clearfix();
	}

	// Navigation lists & buttons
	&--list {

		&__overlay {}
	}

	&--button {
		@include relative-container(); 
		color: palette(mono);
		display: block;
		font-size: 2em;
		padding: .25em .5em;

		@include touch-hover() { color: palette(brand); }

		&__cart {

			.fa:before { font-size: 1.25em; }
		}
	}
	
	&--link { padding: .25em .5em .125em; }

	// The hamburger button
	&--list__overlay &--button {
		background-color: palette(mono, 10);

		@include touch-hover() {
			background-color: $overlay-bg-color;
			color: palette(mono, white);
		}

		&.js-toggle-active {
			background-color: $overlay-bg-color;
			color: $overlay-text-color;
		}
	}

	// Logo
	&--brand {
		padding: .5em 1.5em;

		img {
			height: 3em;
			margin: 0 auto;
		}
	}

	// Wrapper around search and cart elements
	&--search-n-cart { @include clearfix(); }

	&--search-button,
	&--cart--button { float: left; }

	/*<div class="mainnav--cart--button">
		<a href="#" id="shop-cart"  class="mainnav--button mainnav--button__cart">
			<span class="fa fa-shopping-cart" aria-hidden="true"><span>Cart</span></span>
			<span class="mainnav--cart--items">2</span>
		</a>
	</div>*/
	&--cart {

		&--button {}

		&--items {
			color: palette(mono, white);
			font-size: 37%; // about 14px
			font-weight: bold;
			padding-top: 1.875em;
			position: absolute;
				top: 0; left: 0;
			text-align: center;
			text-shadow: 0 0 2px rgba(#000, .75);
			width: 100%;
			z-index: 2;
		}
	}

	&--user-options {
		display: none;
		float: right;
		text-align: right; 
		width: 78%;
		@include clearfix();

		li {
			position: relative;
			z-index: map-get($zindex, li-subnav);

			&:hover > .with-dropdown { background-color: palette(mono, 10); }

			&:hover > .mainnav--subnav {
				opacity: 1;
				top: 100%;
			}
		}
	}

	&--user-options li {
		display: inline-block;
		font-size: 1rem;
	}

	&--user-options li > &--link {
		padding: .5em .75em .375em;
	}

	&--subnav {
		background-color: palette(mono, 10);
		box-shadow: 0 2px .5em rgba(#000,.25);
		opacity: 0;
		overflow-x: auto;
		position: absolute;
			top: -999em; right: 0;
		z-index: map-get($zindex, subnav);
		@include transition( opacity 250ms ease );

		li { white-space: nowrap; }
	}


	// Layout
	&--list__overlay,
	&--brand {
		display: block;
		float: left;
	}

	&--search-n-cart {
		display: block;
		float: right;
	}


	// Media
	@media (max-width: em(bppx(small) - 1px) ) {
		// Stick the nav for small screens
		position: fixed;
			top: 0; left: 0;
		width: 100%;

		@at-root { .page { padding-top: em(64); } }
	}

	@include media($xsmall-up) {

		.js &--search {
			background-color: transparent;
			display: block !important; // I hate this, but we have JS adding an inline style
			padding: 0;
		}

		&--searchform {
			float: left;
			position: fixed;
				top: .875em; left: 50%;
			margin-left: -15%;
			width: 50%;
			z-index: map-get($zindex, searchform);
		}

		&--search-button { display: none; } // the little icon
	}

	@include media($small-up) {
		z-index: auto;

		&--searchform {
			position: absolute;
				top: 2.5em;
			margin-left: -20%;
		}

		&__mobile {
			display: none;
			visibility: visible;
		}
		
		&--brand {
			padding-left: .875em;
			padding-right: 1em;
			
			img { height: 5em; }
		}

		&--user-options { display: block; }
	}

	@include media(min-width 940px) {

		&--user-options { width: 80%; }
	}
	
	@include media($medium-up) {

		&--searchform { top: 3em; }

		&--button__cart { font-size: 2.5em; }
	}

	@include media(min-width 1020px) {

		&--user-options { width: 85%; }
	}

	@include media(min-width 1400px) {

		&--user-options { width: 88%; }
	}
}

/*<ul class="mainnav--list mainnav--list__overlay overlay">
	<li>
		<a href="#overlay" class="mainnav--button js-overlay"><span class="fa fa-bars" aria-hidden="true"><span>&equiv;</span></span></a>
		<ul id="overlay" class="mainnav--list overlay">
			<li class="overlay--parent">
				<a href="#disto" class="overlay--parent--link js-accordion">Disto <span class="fa fa-caret-down" aria-hidden="true"></span></a>
				<ul id="disto" class="overlay--grid js-accordion-wrap">
					<li></li>
				</ul>
				<ul class="overlay--list">
					<li><a href="#" class="overlay--link">Compare</a></li>
				</ul>
			</li>
	</li>
</ul>*/
.overlay {
	background-color: $overlay-bg-color;
	padding: .5em;
	position: absolute;
		top: 100%; left: 0;
	width: $min-width;

	&--parent {
		background-color: palette(mono, white);
		display: block;
		width: 100%;	

		&--link {
			border-top: 1px solid $color-borders;
			border-bottom: 1px solid $color-borders;
			color: $overlay-bg-color;
			font-weight: bold;
			padding: .5em .5em .25em;
			text-transform: uppercase;

			@include touch-hover() {
				color: palette(mono, 75);
			}

			&.js-toggle-active {
				background-color: $overlay-active-color;
				border-top-color: darken($overlay-active-color, 8%);
				border-bottom-color: darken($overlay-active-color, 8%);
				color: $overlay-active-text-color;

				@include touch-hover() { color: $overlay-active-text-color; }
			}

			.fa {
				float: right;
				font-size: 1.25em;
				padding: 0 .5em;
				@include transition( transform 250ms ease );
			}
			
			&.js-toggle-active .fa { @include transform( rotate(180deg) ); }
		}
	}

	&--grid {
		background-color: $overlay-active-color;
		padding: .5em;
	}

	/*<li class="overlay--card overlay--card__main">
		<div class="overlay--card--title">
			<h4>DISTO Selector</h4>
		</div>
		<div class="overlay--card--img">
			<img src="/leica/files/guy-holding.png" alt="">
		</div>
		<div class="overlay--card--price">
			<p>Choose the right DISTO <a href="/leica/compare" class="button button--primary">Let's Begin</a></p>
		</div>
	</li>*/
	&--card {
		padding-bottom: 1em;
		
		&--title,
		&--price {
			background-color: palette(mono, 75);
			color: palette(mono, white);
			padding: .5em;
			text-align: center;
		}
	}

	&--list {}

	&--user-options {
		
		.button {
			display: inline-block;
			width: 49%;
		}
	}

	&--user-options &--list {
		background-color: palette(mono, white);
		margin-bottom: .5em;
	}

	&--link {
		padding: .375em .5em .25em;

		@include touch-hover() {
			background-color: palette(mono, 10);
		}
	}
	
	// Special layout for the main card
	&--card { 

		&__main {
			position: relative;
			z-index: 1;
		}
		
		&__main  &--title,
		&__main  &--price {
			background-color: transparent;
			position: absolute;
				left: 0;
			width: 100%;
			z-index: 10;
		}

		&__main  &--title { top: 0; }

		&__main  &--price { bottom: 0; }

		&__main &--img {
			@include proportional-container(16 9);
	
			> img { @include proportional-element(true); }
		}
		
		@include media($medium-up) {

			&__main &--img { @include maintain-ratio(21 9); }
		}
	}

	
	// Breakpoints
	@include media($xsmall-up) {
		width: 40%;

		&--parent { position: relative; }

		&--parent--link .fa { @include transform( rotate(-90deg) ); }
		
		&--parent--link.js-toggle-active .fa { @include transform( rotate(90deg) ); }
		
		&--grid {
			position: absolute;
				top: -.5em; left: calc(100% + .5em);
			width: 161%;
		}
	}
}

.js-toggle-active .fa-search:before { content: '\f057'; }