/*<nav class="stickynav js-sticky">
	<div class="stickynav--brand">
		<a href="." title="Back Home"><img src="{{ "/files/Leica-Geosystems.png" | prepend: site.baseurl }}" alt="Leica Geosystems"></a>
	</div>
	<ul class="stickynav">
		<li>
			<a href="#" class="stickynav--mainlink">Disto</a>
			<ul class="stickynav--list stickynav--subnav">
				<li>
					<ul class="stickynav--list">
						<li><a href="#" class="stickynav--link">Compare</a></li>
					</ul>
				</li>
				<li>
					<ul class="stickynav--grid">
						<li class="overlay--card">
							<div class="overlay--card--title">
								<h4>Product name</h4>
							</div>
							<div class="overlay--card--img">
								<img src="http://placehold.it/640x480" alt="">
							</div>
							<div class="overlay--card--price">
								<p>Product price</p>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<div class="stickynav--search-n-cart">
		<div class="mainnav--search">
			<a href="#searchform" class="mainnav--button js-accordion"><span class="fa fa-search" aria-hidden="true"><span>Search</span></span></a>
		</div>
		<div class="mainnav--cart">
			<a href="#" id="shop-cart"  class="mainnav--button"><span class="fa fa-shopping-cart" aria-hidden="true"><span>Cart</span></span></a>
		</div>
	</div>*/
.stickynav {
	@include clearfix();
	background: palette(mono, 10);
	background: rgba( palette(mono, 10), .96);
	clear: both;
	position: relative;
		top: 0;
	width: 100%;
	z-index: 2;

	&.stuck { box-shadow: 0 2px 4px rgba(#000, .2); }

	& > &--list {
		display: block;
		margin: 0 auto;
		padding: 0 15%;
		position: relative;
		text-align: center;

		& > li { display: inline-block; }

		//& > li.js-active .stickynav--subnav--wrapper {
		& > li:hover .stickynav--subnav--wrapper {
			@include transition-delay( 500ms );
			opacity: 1;
				left: 0; right: 0;
		}

		//& > li.js-active .stickynav--mainlink {
		& > li:hover .stickynav--mainlink {
			background-color: $overlay-active-color;
			color: $overlay-active-text-color;
		}
	}

	&--mainlink {
		color: palette(mono, 90);
		font-size: 1.25em;
		padding: .625em 1em .5em;
		text-transform: uppercase;

		@include touch-hover() {
			background-color: $overlay-active-color;
			color: $overlay-active-text-color;
			text-decoration: none;
		}
	}

	&--subnav {
		padding: .5em;

		> li {
			margin: 0 auto;
			max-width: $max-width;
		}

		&--wrapper {
			@include transition( opacity 250ms ease );
			background-color: $overlay-active-color;
			@include background-image(linear-gradient(top, $overlay-active-color 5%, $overlay-active-color-dark 95%));
			opacity: 0;
			overflow-x: scroll;
			position: absolute; 
				top: 100%; left: -999em;
			z-index: map-get($zindex, sticky-subnav);
		}
	}
	
	// The first group of text buttons
	&--subnav &--list {
		background-color: palette(mono, 10);

		& > li { display: inline-block; } 
	}
	
	&--list .overlay--link {
		@include one-element-size(h4);
		font-weight: $font-custom-bold;
		padding: 1em .75em .875em;

		@include touch-hover() {
			background-color: palette(mono, white);
			text-decoration: none;
		}
	}

	/*<li class="overlay--card overlay--card__main">
		<div class="overlay--card--title">
			<h4>DISTO Selector</h4>
		</div>
		<div class="overlay--card--img">
			<img src="/leica/files/guy-holding.png" alt="">
		</div>
		<div class="overlay--card--price">
			<p>Choose the right DISTO <a href="/leica/compare" class="button button--primary">Let's Begin</a></p>
		</div>
	</li>*/
	&--grid {
		@include clearfix;
		background-color: palette(mono, 10);
		padding: 0 1em 1em;

		.overlay--card { 
			@include span-columns(3);

			&__main { @include span-columns(6); }

			&__main:nth-child(2) { @include omega(); }
		}
	}

	// <a href="." class="stickynav--brand--logo"title="Back Home"><img src="{{ "/files/Leica-Geosystems.png" | prepend: site.baseurl }}" alt="Leica Geosystems"></a>
	&--brand,
	&--search-n-cart {
		position: absolute;
			bottom: -3px;
		z-index: map-get($zindex, adhesive-brand);
	}

	&--brand--logo,
	&--search-n-cart {
		opacity: 0;
		@include transition( all 500ms ease );

		.stuck & { opacity: 1; }
	}

	&--brand {
		@include clearfix;
		left: 0;

		a {
			display: block;
			float: left;
		}

		&--logo {
			padding: .25em .5em .5em;
			max-width: 0;

			.stuck & { max-width: em(100); }

			img { height: em(44); }
		}
	}

	// <a href="." class="stickynav--product-line">Lasers</a>
	&--product-line {
		@extend %base-rwd-size;
		background-color: palette(brand);
		color: palette(mono, white);
		padding: .9375em 1.25em .875em;
		min-width: 124px;
		text-align: center;

		@include touch-hover() {
			background-color: palette(mono);
			color: palette(mono, white);
		}

		.stuck & {
			background-color: palette(mono);
			color: palette(mono, white);

			@include touch-hover() {
				background-color: palette(brand);
				color: palette(mono, white);
			}
		}
	}

	&--search-n-cart {
		right: 0;
		@include clearfix;
	}
	
	&--search,
	&--cart { float: left; }

	&--search {
		margin-top: 4px; 

		.mainnav--button { padding-top: .125em; }
	}


	// Media
	@include media($medium-up) {

		&--searchform { top: 3em; }

		&--cart .mainnav--button__cart {
			padding: .0625em .5em;

			.mainnav--cart--items { padding-top: 1.375em; }
		}
	}
	
	@include media($large-up) {

		&--brand,
		&--search-n-cart { bottom: 0; }

		& > &--list { padding: 0 10%; }
	}
}


// Need the "stuck" classs and the "sticky-wrapper" for Waypoints to work
.stickynav {
	display: none;
	visibility: hidden;
}

@include media($small-up) {

	.stickynav {
		display: block;
		visibility: visible;

		.js &.stuck {
			position: fixed;
				top: 0;
			z-index: map-get($zindex, sticky);
		}
	}

	.js .sticky-wrapper { background-color: $body-bg-color; }
}