/*<nav class="stickynav js-sticky">
	<div class="stickynav--brand">
		<a href="." title="Back Home"><img src="{{ "/files/Leica-Geosystems.png" | prepend: site.baseurl }}" alt="Leica Geosystems"></a>
	</div>
	<ul class="stickynav--list">
		<li><a href="#" class="stickynav--mainlink">Disto</a></li>
		<li><a href="#" class="stickynav--mainlink">3D Disto</a></li>
		<li><a href="#" class="stickynav--mainlink">Lino</a></li>
	</ul>
	<div class="stickynav--search-n-cart">
		<div class="mainnav--search">
			<a href="#searchform" class="mainnav--button js-accordion"><span class="fa fa-search" aria-hidden="true"><span>Search</span></span></a>
		</div>
		<div class="mainnav--cart">
			<a href="#" id="shop-cart"  class="mainnav--button"><span class="fa fa-shopping-cart" aria-hidden="true"><span>Cart</span></span></a>
		</div>
	</div>*/
.stickynav {
	@include clearfix();
	background: palette(mono, 10);
	background: rgba( palette(mono, 10), .96);
	clear: both;
	position: relative;
		top: 0;
	width: 100%;
	z-index: 2;

	&.stuck { box-shadow: 0 2px 4px rgba(#000, .2); }

	& > &--list {
		display: block;
		margin: 0 auto;
		padding: 0 15%;
		text-align: center;

		& > li { display: inline-block; }
	}

	&--mainlink {
		color: palette(mono, 90);
		font-size: 1.25em;
		padding: .625em 1em .5em;
		text-transform: uppercase;

		@include touch-hover() {
			background-color: $overlay-active-color;
			color: $overlay-active-text-color;
			text-decoration: none;
		}
		
		// A simple selected or active state, using a manually passed body class right now
		.disto li:first-child & {
			background-color: palette(mono, 75);
			color: palette(mono, 15);
			text-decoration: none;
		}
	}

	// <a href="." class="stickynav--brand--logo"title="Back Home"><img src="{{ "/files/Leica-Geosystems.png" | prepend: site.baseurl }}" alt="Leica Geosystems"></a>
	&--brand,
	&--search-n-cart {
		position: absolute;
			bottom: -3px;
		z-index: map-get($zindex, adhesive-brand);
	}

	&--brand--logo,
	&--search-n-cart {
		opacity: 0;
		@include transition( all 500ms ease );

		.stuck & { opacity: 1; }
	}

	&--brand {
		@include clearfix;
		left: 0;

		a {
			display: block;
			float: left;
		}

		&--logo {
			padding: .25em .5em .5em;
			max-width: 0;

			.stuck & { max-width: em(100); }

			img { height: em(44); }
		}
	}

	// <a href="." class="stickynav--product-line">Lasers</a>
	&--product-line {
		@extend %base-rwd-size;
		background-color: palette(brand);
		color: palette(mono, white);
		padding: .9375em 1.25em .875em;
		min-width: 124px;
		text-align: center;

		@include touch-hover() {
			background-color: palette(mono);
			color: palette(mono, white);
		}

		.stuck & {
			background-color: palette(mono);
			color: palette(mono, white);

			@include touch-hover() {
				background-color: palette(brand);
				color: palette(mono, white);
			}
		}
	}

	&--search-n-cart {
		right: 0;
		@include clearfix;
	}

	&--search,
	&--cart { float: left; }

	&--search {
		margin-top: 4px;

		.mainnav--button { padding-top: .125em; }
	}


	// Media
	@include media($medium-up) {

		&--searchform { top: 3em; }

		&--cart .mainnav--button__cart {
			padding: .0625em .5em;

			.mainnav--cart--items { padding-top: 1.375em; }
		}
	}

	@include media($large-up) {

		&--brand,
		&--search-n-cart { bottom: 0; }

		& > &--list { padding: 0 10%; }
	}
}


// Need the "stuck" classs and the "sticky-wrapper" for Waypoints to work
.stickynav {
	display: none;
	visibility: hidden;
}

@include media($small-up) {

	.stickynav {
		display: block;
		visibility: visible;

		.js &.stuck {
			position: fixed;
				top: 0;
			z-index: map-get($zindex, sticky);
		}
	}

	.js .sticky-wrapper { background-color: $body-bg-color; }
}