/*<div class="product--card grid--item">
	<a href="#product" class="product--card--link">
		<div class="product--card--image snipe--container">
			<div class="snipe snipe__topleft">
				<div class="snipe--sub">On orders of $149 and up</div>
				<div class="snipe--main">Free Shipping</div>
			</div>
			<img src="http://placehold.it/460x460" alt="Square aspect ratio">
		</div>
		<div class="product--card--meta">
			<h3 class="product--card--title">Name</h3>
			<p class="product--card--price">$Price USD</p>
			<div class="product--card--label">More Details</div>
		</div>
	</a>
	<button class="product--card--action button button--primary" data-action="Would add this item directly to the cart and show the checkout experience">Add to Cart</button>
</div>*/
@mixin product-container() {
	padding: 1em 0;
	margin-bottom: $vert-line-height;
}

@mixin product-bg-container( $bg: palette(mono, 10) ) {
	background-color: $bg;
	margin: 0 -1em;
	padding: 1em 1em $vert-line-height;
}

.product {

	&.grid { padding-top: $vert-line-height; } // for the single product... <div class="product grid grid--rightrail">

	&--description { padding-bottom: $vert-line-height; }

	&--section--title {
		font-weight: $font-custom-bold;
		margin-bottom: .785em;
	}

	&--card {
		@include relative-container( $o: visible, $z: 0 );
		margin-bottom: 1em;

		&--link {
			@include clearfix;
			@include transition( all 250ms ease );
			background-color: palette(mono, white);
			border: 1px solid $color-borders;
			display: block;

			.product--card--title,
			.product--card--price,
			.product--card--label { @include transition( all 250ms ease ); }

			//@include touch-hover() {
			// would prefer a manual application here
			.no-js &:hover,
			.no-js &:focus,
			.js.#{$modernizr-touch-off} &:hover,
			.js.#{$modernizr-touch-off} &:focus,
			.js.#{$modernizr-touch-off} &.js-hovered,
			.js.#{$modernizr-touch-on} &:active {
				@include transform( translateY(-3px) );
				box-shadow: 0 2px 3px rgba(#000,.25);

				.product--card--title,
				.product--card--price { color: palette(mono, 25); }
			}

			.no-js &:hover,
			.no-js &:focus,
			.js.#{$modernizr-touch-off} &:hover,
			.js.#{$modernizr-touch-off} &:focus,
			.js.#{$modernizr-touch-on} &:active {

				.product--card--label { color: palette(brand); }
			}

			&.js-hovered .product--card--label { color: palette(mono, 25); }
		}

		&--link &--image { @include transition( opacity 250ms ease ); }

		&--image { opacity: 1; }

		&--meta {
			@include clearfix;
			padding: 0 .75em .75em;
			position: relative;
		}

		&--title { font-weight: bold; }

		&--price { font-weight: 100; }

		&--label {
			color: palette(brand, blue);
			font-weight: bold;
			padding: .75em 0 .125em;
		}

		&--action {
			font-weight: bold;
			position: absolute;
				right: .5em; bottom: .5em;
			z-index: 2;
		}
	} // end .product--card

	// Adjacent sibling selector: we can traverse down the DOM tree, but not up
	&--card--link ~ &--card--action { @include transition( all 250ms ease ); }

	&--card--link.js-hovered ~ &--card--action,
	&--card--link:hover ~ &--card--action {
		@include transform( translateY(-3px) );
		background-color: palette(mono, 25);
	}


	// Overrides
	&__home &--card--title { @include one-element-size(h4); }

	&__home &--card--title,
	&__home &--card--price {}

	&__home &--card--label {}


	/*<div class="product--cover">
			<div class="product--cover--img" style="background-image: url(http://lasers.leica-geosystems.com/sites/default/files/product_featured_images/s910_smart_base_hero_0.jpg)">
			</div>*/
	&--cover {
		position: relative;
		z-index: 1;

		&--img {
			margin: 0 -7.5%;
			max-width: none;
			width: 115%;
		}

		.js & .sticky-wrapper { background-color: transparent; }

		@include media($small-up) {

			&--img {
				margin: 0;
				width: 100%;
			}
		}

		@media (min-width: bp(large)) and (max-height: em(800)) {
			height: calc(95vh - 59px - 119px); // height of header and adhesive navbar

			&--img {
				@include transform( translateX(-50%) );
				position: absolute;
					bottom: 0; left: 50%;
				min-height: 100%;
				min-width: 100%;
				width: auto;
				z-index: -1;
			}
		}
	} // end .product--cover

	/*<header class="product--header js-sticky-productheader">
		<div class="product--purchase">
			<h1 class="product--title">{{ page.title }}</h1>
			<p class="product--subtitle">For measurements that play hard to get</p>
		</div>
		<div class="product--purchase">
			<p class="product--purchase--action"><button class="button button--primary">Buy Now</button></p>
			<p class="product--purchase--price">$1,499 USD</p>
			<p class="product--purchase--offer">Free Shipping</p>
		</div>
		<ul class="product--jumplinks menu">
			<li><a href="#howto">How To</a></li>
			<li><a href="#inthefield">In the Field</a></li>
			<li><a href="#reviews">Reviews</a></li>
			<li><a href="#support">Support</a></li>
		</ul>
	</header>*/
	&--header {
		@include clearfix;
		@include transition( background 250ms ease );
		background: rgba(palette(mono, black), 1);
		color: palette(mono, white);
		padding: .5em 1em 1em;
		width: 100%;

		&.stuck {
			background: rgba(palette(mono, black), .92);
			padding: .5em 1em 0.5em;
			position: fixed;
				top: 65px; bottom: auto; // would rather set the offset from the top via javascript
			z-index: map-get($zindex, sticky);

			.product {

				&--subtitle,
				&--purchase--price,
				&--purchase--offer {
					max-height: 0;
					padding: 0;
				}
			}
		}

		@include media($small-up) {

			&.stuck {
				top: 52px; bottom: auto; // would rather set the offset from the top via javascript

				.product {

					&--purchase--price {
						max-height: 4em;
						padding: 0;
					}

					&--jumplinks { margin-top: -24px !important; } // need to override the application of .menu { margin: 0; }
				}
			}
		}

		@include media($medium-up) {

			&.stuck .product--title {
				@include one-element-size(h3);
				padding-bottom: 0;
			}

			&.stuck .product--purchase { padding-top: 1.15em; }
		}
	}

	&--subtitle,
	&--purchase--price,
	&--purchase--offer {
		@include transition( all 500ms ease );
		max-height: 4em;
		overflow-y: hidden;
	}

	&--labels {
		float: left;
		width: 60%;
	}

	&--title {
		font-weight: bold;
		padding-bottom: $vert-line-height/3;
	}

	&--subtitle {
		padding-bottom: $vert-line-height/2;
	}

	&--jumplinks {
		clear: left;
		margin-right: -1em;
		text-align: center;

		a {
			color: palette(brand, blue);

			@include touch-hover() {
				color: palette(mono, white);
			}
		}

		li {
			display: inline-block;
			margin-right: .5em;
		}
	}

	&--purchase {
		float: left;
		text-align: right;
		width: 40%;

		&--price {
			@include one-element-size(h4);
			font-weight: bold;
			padding-bottom: .125em;
		}

		&--offer {
			@extend .micro;
			font-style: italic;
			padding-bottom: $vert-line-height/2;
		}

		&--action {
			margin-right: -.25em;
			padding-bottom: $vert-line-height/3;

			button {

				@include touch-hover() { background-color: palette(brand, dark); }
			}
		}
	}

	// Media
	@media (min-width: em(400)) {

		&--labels { width: 65%; }

		&--purchase { width: 35%; }
	}

	@media (min-width: em(480)) {

		&--labels { width: 70%; }

		&--purchase { width: 30%; }
	}

	@include media($xsmall-up) {

		&--labels { width: 75%; }

		&--purchase { width: 25%; }

		&--jumplinks { text-align: left; }
	}

	@include media($small-up) {

		&--jumplinks {
			clear: none;
			float: left;
			width: 75%;
		}
	}

	@include media($medium-up) {

		&--header {
			background: rgba(palette(mono, black), .67);
			position: absolute;
				bottom: 0; left: 0;
		}

		&--purchase { padding-top: .75em; }

		&--purchase--action {
			float: right;
			margin-left: .5em;
		}

		&--purchase--price { margin-top: .25em; }
	}

	/*<div id="howto" class="product--howto" role="complementary">
		<h2 class="product--section--title">How to use the S910</h2>
		<div class="product--howto--videos">
			<div class="embed-container">
				<iframe src="https://www.youtube.com/embed/d1-OYFK5fqk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>*/
	&--howto {
		@include product-bg-container();

		&--videos {}
	}

	&--inthefield {
		@include product-bg-container();
	}

	&--related-blog {
		background-color: palette(mono, white);
		padding: 1em;
	}

	/*<div id="specs" class="product--specs">
		<h2 class="product--section--title">Specifications</h2>
		<table id="tablefield-0" class="tablefield product--specs--table">
			<tbody>
				<tr class="odd"><td class="row_1 col_0">ISO 16331-1 certified measuring accuracy (favorable conditions)</td><td class="row_1 col_1">1.0mm / ± 0.04 in*</td> </tr>*/
	&--specs {
		border-bottom: 1px solid $table-border-color;

		&--table {

			.col_0 {
				border-right: 1px solid $table-border-color;
				text-align: right;
			}

			.col_1 { text-align: left; }
		}
	}

	&--featfunct {
		@include clearfix;
		background-color: darken(palette(mono, 10), 4%);
		//margin-top: - $vert-line-height;
		padding: 1em;
	}

	&--related {
		@include product-container();
	}

	&--reviews {
		@include product-container();
	}

	&--support {
		@include product-bg-container();
	}

} // end .product


/*
I would want to rework this markup when the time comes.
Need an anchor as a trigger...
need "js-" classes for triggers...
need proper BEM classes...

<div class="product--featfunct">
	<h2 class="product--section--title">Features and Functions</h2>
	<p>Functions are red icons with white while features are white icons with red.</p>
	<ul class="elastic-grid menu">
		<li id="1">
			<div class="elastic-grid-thumbnail">
				<div class="veg-thumbnail-link">
					<div class="icon-text">
						<img typeof="foaf:Image" src="http://lasers.leica-geosystems.com/sites/default/files/icons/icon-bluetooth_0.jpg" width="100" height="100" alt="Bluetooth icon">
						<div class="text">Bluetooth Smart (4.0)</div>
					</div>
				</div>
				<div class="veg-thumbnail-pointer"></div>
			</div>
			<div class="elastic-grid-expanded">
				<div class="elastic-grid-expanded-inner">
					<span class="veg-close"></span>
					<div class="accordion-content">
						<p><img alt="Yard" class="image-left" src="http://lasers.leica-geosystems.com/sites/default/files/yard.jpg"></p>
						<p>Send measurements directly to your apps using Bluetooth Smart.</p>
						<p>See our&nbsp;<a href="../leica-disto-app-directory">App Directory</a>&nbsp;for a list of apps that all kinds of professionals are using to transform the way they work.</p>
						<p>See our blog for <a href="../blog/bluetooth-disto-os-compatibility">more information about device compatibility</a>.</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p><em>The free&nbsp;<a href="../leica-disto-app-directory#27">Leica DISTO Sketch App</a>&nbsp;lets you take a picture with your iPhone and layer measured lines on top of i</em>t.</p>
					</div>
				</div>
			</div>*/
.elastic-grid {

	li { padding-top: $vert-line-height/2; }

	&.menu a { display: inline-block; }

	&-thumbnail {
		@include clearfix;

		&:hover {
			cursor: pointer;

			.text,
			.veg-thumbnail-pointer:before { color: palette(brand); }
		}

		.icon-text {}

		img,
		.text {
			display: inline-block;
			vertical-align: middle;
		}

		img { max-width: 50px; }

		.text {
			//@extend %base-rwd-size;
			font-weight: $font-custom-bold;
			margin-left: .5em;
		}
	}

	.veg-thumbnail-link {
		float: left;
		text-align: left;
		width: 85%;
	}

	.veg-thumbnail-pointer {
		float: left;
		padding: .75em .5em 0 0;
		text-align: right;
		width: 15%;

		&:before {
			@include transition( transform 250ms ease );
			content: "\f078"; // chevron down
			display: inline-block;
			font: normal normal normal 1.25em/1 FontAwesome;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}

	.js-toggle-active .veg-thumbnail-pointer:before { @include transform( rotate(180deg) ); }

	&-expanded {

		&-inner {
			background-color: palette(mono, white);
			border: 1px solid $color-borders;
			overflow: visible;
			padding: .75em;
			position: relative;
			margin-top: .75em;

			&:before {
				@include transform( rotate(45deg) );
				content: '';
				background-color: palette(mono, white);
				border-color: $color-borders;
				border-style: solid;
				border-width: 1px 0 0 1px;
				height: 1em;
				position: absolute;
					top: -.5625em; left: 75px;
				width: 1em;
			}

			img {}

			p { margin-bottom: $vert-line-height/2; }

			p:blank,
			p:empty { display: none; }
		}
	}


	// Media
	@media (min-width: em(680)) and (max-width: em(bppx(medium) - 1px) ) {

		li {
			@include span-columns(6);

			.elastic-grid-expanded { margin: 0 -100% 0 0; }
		}

		li:nth-child(even) {
			@include omega();

			.elastic-grid-expanded { margin: 0 0 0 -100%; }

			.elastic-grid-expanded-inner:before { left: auto; right: 75px; }
		}
	}

	@media (min-width: em(680)) {

		.veg-thumbnail-link { width: 88%; }

		.elastic-grid-thumbnail .text { width: calc(98% - 50px - .5em); } // this is nuts, I know

		.veg-thumbnail-pointer { width: 12%; }
	}

	@media (min-width: bp(medium)) and (max-width: em(bppx(large) - 1px)) {

		li {
			@include span-columns(4);

			.elastic-grid-expanded { margin: 0 -215% 0 0; }
		}

		li:nth-child(3n + 2) {

			.elastic-grid-expanded { margin: 0 -107.5% 0 -107.5%; }

			.elastic-grid-expanded-inner:before { left: 50%; }
		}

		li:nth-child(3n) {
			@include omega();

			.elastic-grid-expanded { margin: 0 0 0 -215%; }

			.elastic-grid-expanded-inner:before { left: auto; right: 75px; }
		}
	}

	@include media($large-up) {

		li {
			@include span-columns(3);

			.elastic-grid-expanded {
				margin: 0 -331% 0 0;

				&-inner {
					@include clearfix;

					img {
						float: left;
						margin-right: 1em;
					}
				}
			}
		}

		li:nth-child(4n + 2) {

			.elastic-grid-expanded { margin: 0 -220.5% 0 -110.5%; }

			.elastic-grid-expanded-inner:before { left: 33%; }
		}

		li:nth-child(4n + 3) {

			.elastic-grid-expanded { margin: 0 -110.5% 0 -220.5%; }

			.elastic-grid-expanded-inner:before { left: 67%; }
		}

		li:nth-child(4n + 4) {
			@include omega();

			.elastic-grid-expanded { margin: 0 0 0 -331%; }

			.elastic-grid-expanded-inner:before { left: auto; right: 75px; }
		}
	}
}


// Temporary to mock up the previous Flexslider functionality
.flexslider--wrapper {
	@include clearfix;
	background-color: palette(mono, 10);
	margin-bottom: 1em;
	padding: 1em;
	position: relative;

	&:after {
		@include background-image( linear-gradient(left, rgba(#000,0) 0%,rgba(#000,.2) 100%) );
		content: '';
		display: block;
		position: absolute;
			top: 0; right: 0; bottom: 0;
		width: 10%;
	}
}

.flexslider {
	overflow-y: scroll;
	white-space: nowrap;
	width: 100%;

	.slides {
		align-content: stretch;
		align-items: flex-end;
		clear: both;
		display: flex;
		justify-content: center;
		list-style: none;
		margin: 0;
		position: relative;

		li {
			background-color: palette(mono, white);
			display: inline-block;
			flex-grow: 0;
			min-width: 120px;

			@include media($medium-up) {
				flex-grow: 1;
			}

			img {
				margin: 0 auto;
			}

			h4.centered {
				text-align: center;
			}
		}
	}
}

/*<div class="product--card--image snipe--container">
	<div class="snipe snipe__topleft">
		<div class="snipe--sub">On orders of $149 and up</div>
		<div class="snipe--main">Free Shipping</div>
	</div>
	<img src="http://lasers.leica-geosystems.com/sites/default/files/styles/large_square/public/product_images/d510_front_reflection_var2-500x545.jpg?itok=W7s2pZ3C" alt="">
</div>*/
.snipe {
	@include transform( translateY(-2em) );
	@include transition( transform 250ms ease );
	color: palette(mono, white);
	padding: .5em .75em;
	position: absolute;
		top: 0; left: 0;
	z-index: 2;

	&:before {
		@include transform-origin( 50% 50% );
		@include transform( rotate(-15deg) );
		@include transition( background 250ms ease );
		background: rgba(240, 0, 32, .8);
		content: '';
		display: block;
		height: 12em;
		position: absolute;
			top: -8em; left: -2em;
		width: 24em;
		z-index: 3;
	}

	&--container {
		overflow: hidden;
		position: relative;
		z-index: 1;
	}

	&--sub,
	&--main {
		position: relative;
		z-index: 3;
	}

	&--sub {
		font-size: .875rem;
		padding-bottom: 1em;
	}

	&--main {
		font-size: 1rem;
		font-weight: bold;
	}


	// Overrides
	&__dark:before { background: rgba(palette(brand, dark), .33); }

	.widget__signup & { z-index: -1; }
}

// Generic hover effect to expose the sub language
a {
	// Don't change this to use the touch-hover() mixin
	&:hover,
	&:focus,
	&.js-hovered {

		.snipe {
			@include transform( translateY(0) );

			&:before { background: rgba(palette(brand), 1); }
		}
	}
}

// Sorry this is a bit hacky @kbeck
// I need something to be a block but it's being called in multiple places
// So I just added a class in the markup
.display-block {
	display: block;
}