<!DOCTYPE html>
<html class="no-js" lang="en-US">

	{% include head.html %}

	<body class="layout-{{ page.layout }} {{ page.bodyclass }}">
		<div class="page">

		{% include header.html %}


		<div class="product--cover">
			<img class="product--cover--img" src="http://lasers.leica-geosystems.com/sites/default/files/product_featured_images/s910_smart_base_hero_0.jpg" alt="">

			<header class="product--header js-sticky-productheader">
				<div class="product--labels">
					<h1 class="product--title">{{ page.title }}</h1>
					<p class="product--subtitle">For measurements that play hard to get</p>
				</div>
				<div class="product--purchase">
					<p class="product--purchase--action"><button class="button button--primary">Buy Now</button></p>
					<p class="product--purchase--price">$1,499 USD</p>
					<p class="product--purchase--offer">Free Shipping on order over $150.00</p>
				</div>
				<ul class="product--jumplinks menu">
					<li><a href="#howto">How To</a></li>
					<li><a href="#inthefield">In the Field</a></li>
					<li><a href="#reviews">Reviews</a></li>
					<li><a href="#support">Support</a></li>
				</ul>
			</header>
		</div>

		<div class="flexslider--wrapper">
			<div class="flexslider">
				<ul class="slides">
					<li><a href="http://lasers.leica-geosystems.com/sites/default/files/product_images/d810-touch-promo.jpg" title="DISTO D810 Touch Laser Distance Meter" class="colorbox" rel="gallery-node-10-bje73tfZhZc"><img typeof="foaf:Image" src="http://lasers.leica-geosystems.com/sites/default/files/styles/product_flexslider_images/public/product_images/d810-touch-promo.jpg?itok=vOGqtYwF" width="255" height="195" alt="DISTO D810 Touch Laser Distance Meter" title="" /></a></li>
					<li><a href="http://lasers.leica-geosystems.com/sites/default/files/product_images/d810_touch_display.jpg_c622948a1m_0.jpg" title="Leica DISTO D810 Touch Screen" class="colorbox" rel="gallery-node-10-bje73tfZhZc"><img typeof="foaf:Image" src="http://lasers.leica-geosystems.com/sites/default/files/styles/product_flexslider_images/public/product_images/d810_touch_display.jpg_c622948a1m_0.jpg?itok=L7iAHY6n" width="255" height="195" alt="Leica DISTO D810 Touch Screen" title="" /></a></li>
					<li><a href="http://lasers.leica-geosystems.com/sites/default/files/product_images/d810_touch_endpiece.jpg_c622950a1m_0.jpg" title="Leica DISTO D810 Intelligent Endpiece" class="colorbox" rel="gallery-node-10-bje73tfZhZc"><img typeof="foaf:Image" src="http://lasers.leica-geosystems.com/sites/default/files/styles/product_flexslider_images/public/product_images/d810_touch_endpiece.jpg_c622950a1m_0.jpg?itok=LYgZy8xd" width="255" height="195" alt="Leica DISTO D810 Intelligent Endpiece" title="" /></a></li>
					<li><a href="http://lasers.leica-geosystems.com/sites/default/files/product_images/d810_touch_fta_360_tri100.jpg_c622962a1m.jpg" title="Leica DISTO D810 with Tripod" class="colorbox" rel="gallery-node-10-bje73tfZhZc"><img typeof="foaf:Image" src="http://lasers.leica-geosystems.com/sites/default/files/styles/product_flexslider_images/public/product_images/d810_touch_fta_360_tri100.jpg_c622962a1m.jpg?itok=JpJus9nT" width="255" height="195" alt="Leica DISTO D810 with Tripod" title="" /></a></li>
					<li><a href="http://lasers.leica-geosystems.com/sites/default/files/product_images/d810_touch_keypad.jpg_c622966a1m_0.jpg" title="Leica DISTO D810 Keypad" class="colorbox" rel="gallery-node-10-bje73tfZhZc"><img typeof="foaf:Image" src="http://lasers.leica-geosystems.com/sites/default/files/styles/product_flexslider_images/public/product_images/d810_touch_keypad.jpg_c622966a1m_0.jpg?itok=kkjGMrZL" width="255" height="195" alt="Leica DISTO D810 Keypad" title="" /></a></li>
					<li><a href="http://lasers.leica-geosystems.com/sites/default/files/product_images/d810_touch_left_top.jpg_c622970a1m.jpg" title="Leica DISTO D810 Laser Distance Meter" class="colorbox" rel="gallery-node-10-bje73tfZhZc"><img typeof="foaf:Image" src="http://lasers.leica-geosystems.com/sites/default/files/styles/product_flexslider_images/public/product_images/d810_touch_left_top.jpg_c622970a1m.jpg?itok=TiUUxqVW" width="255" height="195" alt="Leica DISTO D810 Laser Distance Meter" title="" /></a></li>
					<li><a href="http://lasers.leica-geosystems.com/sites/default/files/product_images/d810_touch_top_02.jpg_c622982a1m_0.jpg" title="Leica DISTO D810 Top" class="colorbox" rel="gallery-node-10-bje73tfZhZc"><img typeof="foaf:Image" src="http://lasers.leica-geosystems.com/sites/default/files/styles/product_flexslider_images/public/product_images/d810_touch_top_02.jpg_c622982a1m_0.jpg?itok=qxv7bpvT" width="255" height="195" alt="Leica DISTO D810 Top" title="" /></a></li>
					<li><a href="http://lasers.leica-geosystems.com/sites/default/files/product_images/d810_touch_scope_of_delievery.jpg_c622976a1m.jpg" title="Leica DISTO D810 Scope of Delivery" class="colorbox" rel="gallery-node-10-bje73tfZhZc"><img typeof="foaf:Image" src="http://lasers.leica-geosystems.com/sites/default/files/styles/product_flexslider_images/public/product_images/d810_touch_scope_of_delievery.jpg_c622976a1m.jpg?itok=9uUy1x0h" width="255" height="195" alt="Leica DISTO D810 Scope of Delivery" title="" /></a></li>
					<li><a href="http://lasers.leica-geosystems.com/sites/default/files/product_images/d810_touch_front_reflection_v3.jpg_c622956a1m_1.jpg" title="Leica DISTO D810 Measure Using a Picture" class="colorbox" rel="gallery-node-10-bje73tfZhZc"><img typeof="foaf:Image" src="http://lasers.leica-geosystems.com/sites/default/files/styles/product_flexslider_images/public/product_images/d810_touch_front_reflection_v3.jpg_c622956a1m_1.jpg?itok=7I5yJ89c" width="255" height="195" alt="Leica DISTO D810 Measure Using a Picture" title="" /></a></li>
				</ul>
			</div>
		</div><!-- end flexslider--wrapper -->


		<section id="main" class="content">
			<div class="container">

				{{ content }}

			</div>
		</section>

		{% include footer.html %}

		</div>
	</body>
</html>