/* ! ===== Bourbon and Neat Configuration ===== */ 
@import "libraries/neat/neat-helpers";


// Grid Settings
$grid-columns: 12;
$min-width: em(320);
$max-width: em(1366);
$visual-grid: false;
$page-gutter: 1em;


// Breakpoints Map
$breakpoints: (
  // List as unitless pixels
  base: 560,
  addSearch: 590, // addSearch custom width breakpoint
  smallish: 680, // 480 + 200
  small: 760, // 560 + 200
  medium: 980, // 760 + 120
  large: 1200, // 980 + 120
  x-large: 1360, // 1200 + 160
  xx-large: 1600 // 1360 + 240
);

// Reusable Media Queries
$xsmall-up: new-breakpoint( min-width bppx(base) );
$xsmall: new-breakpoint( min-width ( bppx(base) ) max-width ( (bppx(small)-1px) ) );

$max-xsmall: new-breakpoint( max-width bppx(base) );
$xsmall-to-medium: new-breakpoint(min-width (bppx(base)) max-width (bppx(medium) - 1px));
$xsmall-to-large: new-breakpoint(min-width (bppx(base)) max-width (bppx(large) - 1px));

$small-up: new-breakpoint( min-width bppx(small) );
$small: new-breakpoint( min-width ( bppx(small) ) max-width ( bppx(medium)-1px ) );
$small-to-large: new-breakpoint(min-width (bppx(small)) max-width (bppx(large) - 1px));

$smallish-up: new-breakpoint( min-width bppx(smallish) );
$smallish-to-medium: new-breakpoint(min-width (bppx(smallish)) max-width (bppx(medium) - 1px));
$smallish-to-large: new-breakpoint(min-width (bppx(smallish)) max-width (bppx(large) - 1px));

$mediumish-to-large: new-breakpoint(min-width (bppx(medium)) max-width (bppx(large) - 1px));
$medium-up: new-breakpoint( min-width bppx(medium) );
$medium: new-breakpoint( min-width ( bppx(medium) ) max-width (bppx(large)-1px) );

$large-up: new-breakpoint( min-width bppx(large) );
$large: new-breakpoint( min-width ( bppx(large) ) max-width (bppx(x-large)-1px) );

$xlarge-up: new-breakpoint( min-width bppx(x-large) );
$xlarge: new-breakpoint( min-width ( bppx(x-large) ) max-width (bppx(xx-large)-1px) );

$xxlarge-up: new-breakpoint( min-width bppx(xx-large) );

// addSearch has a special breakpoint at 590px
$addSearch-mobile: new-breakpoint( max-width bppx(addSearch) );
$addSearch-mobile-to-small: new-breakpoint( min-width (bppx(addSearch)+1px) max-width ( bppx(small)-1px ) );